/* https://gitlab.com/PronounsPage/PronounsPage/-/blob/main/assets/style.scss?ref_type=heads */
/* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
/* check contrast using https://webaim.org/resources/contrastchecker/ */

body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    /*background-image: linear-gradient(74deg, rgba(236, 236, 236,0.02) 0%, rgba(236, 236, 236,0.02) 13%,transparent 13%, transparent 64%,rgba(55, 55, 55,0.02) 64%, rgba(55, 55, 55,0.02) 71%,rgba(239, 239, 239,0.02) 71%, rgba(239, 239, 239,0.02) 100%),linear-gradient(170deg, rgba(8, 8, 8,0.02) 0%, rgba(8, 8, 8,0.02) 1%,transparent 1%, transparent 60%,rgba(9, 9, 9,0.02) 60%, rgba(9, 9, 9,0.02) 80%,rgba(198, 198, 198,0.02) 80%, rgba(198, 198, 198,0.02) 100%),linear-gradient(118deg, rgba(134, 134, 134,0.02) 0%, rgba(134, 134, 134,0.02) 30%,transparent 30%, transparent 43%,rgba(85, 85, 85,0.02) 43%, rgba(85, 85, 85,0.02) 47%,rgba(103, 103, 103,0.02) 47%, rgba(103, 103, 103,0.02) 100%),linear-gradient(249deg, rgba(178, 178, 178,0.02) 0%, rgba(178, 178, 178,0.02) 8%,transparent 8%, transparent 47%,rgba(161, 161, 161,0.02) 47%, rgba(161, 161, 161,0.02) 61%,rgba(19, 19, 19,0.02) 61%, rgba(19, 19, 19,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    min-height: 100vh;*/
}

/* content tabbing */
.lefttab {
    position: relative;
    margin: 0;
    width: 65vw;
    margin-bottom: -2em;
}

.righttab {
    position: relative;
    width: 35vw;
    padding-left: 2em;
}

/* content */
.content {
    position: relative;
    top: 50%;
    left: 10%;
    padding: 2em;
}

.container {
    border: 2px solid blueviolet;
    background-color: #f9f9f9;
    border-radius: 7px;
    color: blueviolet;
}

.container-raised {
    /* x-axis | y-axis | blur-radius | spread-radius | shadow color */
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
}

/* define a few pride colors */

.transprideblue {
    color: #4EC2F8;
}

.transpridepink {
    color: #4EC2F8;
}

.genderfaegreendark {
    color: #86B695;
}

.genderfaegreenlight {
    color: #B7D89F;
}

.genderfaeyellow {
    color: #F8FDC4;
}

.tspurplelight {
    color: #9561A8;
}

.tspurpledark {
    color: #672F8B;
}

/* link colors */
a {
  color: #672F8B;
  text-decoration: none;
}

a:hover {
  color: #F096AA;
}

/* current link highlight */
.link_highlight_active {
    color: #F096AA;
    }

/* inactive links */
.link_highlight_inactive {
    color: #4EC2F8;
    }
