/* https://gitlab.com/PronounsPage/PronounsPage/-/blob/main/assets/style.scss?ref_type=heads */
/* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
/* check contrast using https://webaim.org/resources/contrastchecker/ */

body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

/* two-column layout */
.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* content */
.content {
    margin: 4rem;
}

.card1 {
    margin: 2rem;
    backdrop-filter: blur(12px);
    /*background-color: rgba(black, .1) !important;*/
    padding: 1rem;

    /* https://alvarotrigo.com/shadow-gradients/ */
    background: linear-gradient(135deg, #86B695, #B7D89F, #F8FDC4, #FFFFFF, #F096AA, #9561A8, #672F8B);
    border-radius: 24px;
}

.card2 {
    margin: 2rem;
    backdrop-filter: blur(12px);
    /*background-color: rgba(black, .1) !important;*/
    padding: 1rem;

    /* https://alvarotrigo.com/shadow-gradients/ */
    background: linear-gradient(-225deg, #9561A8, white, gray);
    border-radius: 24px;
}


/* Responsive layout */
@media screen and (max-width: 800px) {
    .content, .card {
        margin: 1rem;
    }
}

/* define a few pride colors */

.transprideblue {
    color: #4EC2F8;
}

.transpridepink {
    color: #4EC2F8;
}

.genderfaegreendark {
    color: #86B695;
}

.genderfaegreenlight {
    color: #B7D89F;
}

.genderfaeyellow {
    color: #F8FDC4;
}

.tspurplelight {
    color: #9561A8;
}

.tspurpledark {
    color: #672F8B;
}

/* link colors */
a {
  color: #672F8B;
  text-decoration: none;
}

a:hover {
  color: #F096AA;
}

/* current link highlight */
.link_highlight_active {
    color: #F096AA;
    }

/* inactive links */
.link_highlight_inactive {
    color: #4EC2F8;
    }

