<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Transturion | {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>

    <body>
        <div class="header">
            <div class="font_logo">Transturion</div>
            <div class="font_header">
                <nav><ul>
                    {% for item in site.data.navigation %}
                    <!---<li class="genderfae_green_border"><a href="{{ item.link }}" {% if page.url == item.link %} class="tab_highlight" {% endif %}>{{ item.name }}</a></li>--->
                    <li><a href="{{ item.link }}" {% if page.url == item.link %} class="link_highlight_active" {% else %} class="link_highlight_inactive" {% endif %}>{{ item.name }}</a></li>
                    {% endfor %}
                </ul></nav>
            </div>
        </div>
        <div class="gradient_magic">
            <div class="lefttab">{{ content }}</div>
        </div>
        <div class="footer"><h2>Footer</h2></div>
    </body>

</html>
